.home {
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  .welcome-text {
    font-size: 4vw;
    font-style: oblique;
  }
  .welcome-description {
    font-size: 1.5vw;
  }
  .linkedin-icon {
    height: 1.5em;
    float: right;
  }
}

@keyframes arrow {
  0% {top: 0}
  10% {top: 10px}
  20% {top: 0}
}

.scroll-down {
  height: 4vh;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
  .arrow1 {
    position: relative;
    transform: rotate(270deg);
    animation: arrow 4s linear infinite;
  }
  .arrow2 {
    position: relative;
    transform: rotate(270deg);
    animation: arrow 4s 200ms linear infinite;
  }
  .arrow3 {
    position: relative;
    transform: rotate(270deg);
    animation: arrow 4s 400ms linear infinite;
  }
  .arrow4 {
    position: relative;
    transform: rotate(270deg);
    animation: arrow 4s 600ms linear infinite;
  }
  .arrow5 {
    position: relative;
    transform: rotate(270deg);
    animation: arrow 4s 800ms linear infinite;
  }
}

.skills-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .skills-panel {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    .skills-panel-description {
      font-size: 2vw;
      padding-bottom: 15px;
    }
    .skill-item {
      .skill-item-title {
        font-size: 1.5vw;
      }
      .skill-item-description {
        padding-bottom: 2vh;
      }
      .skill-icon {
        height: 40px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

.experience-section {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  align-items: center;
  background-color: grey;
  height: 100vh;
  .experience-panel {
    width: 80%;
    margin: 0 auto;
    height: 30vw;
    .experience-item {
      width: 85%;
      padding-left: 15%;
      text-align: left;
      .experience-title {
        font-size: 3vw;
        padding-top: 10px;
        line-height: 80%;
      }
      .experience-position {
        font-size: 2vw;
        border-bottom: 2px solid black;
      }
      .experience-description {
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 1.5vw;
      }
      .experience-skills {
        font-size: 1vw;
      }
      .experience-duration {
        font-size: 1vw;
      }
    }
  }
}

.projects-section {
  height: 100vh;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  .projects-panel {
    width: 50%;
  }
}

.contact-section {
  height: 70vh;
  width: 60%;
  margin: 0 auto;
  .contact-panel {
    .contact-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      label {
        position: absolute;
        transform: translate(14px , 15px) scale(1);
        width: 400px;
        transform-origin: top left;
        transition: all 0.2s ease-out;
        text-align: left;
        color: lightblue;
      }
      input {
        height: 56px;
        width: 400px;
      }
      input::placeholder {
        color: transparent;
      }
      input:not(:placeholder-shown) ~ label {
        transform: translate(13px , 5px) scale(0.75);
      }
      input:not(:placeholder-shown) {
        padding-top: 15px;
      }
      textarea {
        width: 400px;
        padding-top: 15px;
        padding-bottom: 5px;
        resize: none;
        overflow: auto;
      }
      textarea::placeholder {
        color: transparent;
      }
      textarea:not(:placeholder-shown) ~ label {
        transform: translate(13px , 5px) scale(0.75);
        background-color: white;

      }
      textarea:not(:placeholder-shown) {
        padding-top: 20px;
        padding-bottom: 0px;
      }
      .contact-item-error {
        border-color: red;
        ~ label {
          color: red;
          &::after {
            content: " (Invalid Entry)";
          }
        }
      }
    }
  }
}