.home {
  text-align: center;
}

.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  width: 60%;
  margin: 0 auto;
  text-align: left;
  .welcome-text {
    font-size: 4vw;
    font-style: oblique;
  }
  .welcome-description {
    font-size: 1.5vw;
  }
  .linkedin-icon {
    height: 1.5em;
    float: right;
  }
}

@keyframes arrow {
  0% {top: 0}
  10% {top: 10px}
  20% {top: 0}
}

.scroll-down {
  height: 4vh;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
  .arrow1 {
    position: relative;
    transform: rotate(270deg);
    animation: arrow 4s linear infinite;
  }
  .arrow2 {
    position: relative;
    transform: rotate(270deg);
    animation: arrow 4s 200ms linear infinite;
  }
  .arrow3 {
    position: relative;
    transform: rotate(270deg);
    animation: arrow 4s 400ms linear infinite;
  }
  .arrow4 {
    position: relative;
    transform: rotate(270deg);
    animation: arrow 4s 600ms linear infinite;
  }
  .arrow5 {
    position: relative;
    transform: rotate(270deg);
    animation: arrow 4s 800ms linear infinite;
  }
}

.skills-section {
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .skills-panel {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    .skills-panel-description {
      font-size: 2vw;
      padding-bottom: 15px;
    }
    .skill-item {
      .skill-item-title {
        font-size: 1.5vw;
      }
      .skill-item-description {
        padding-bottom: 2vh;
      }
      .skill-icon {
        height: 40px;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

.experience-section {
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  align-items: center;
  background-color: grey;
  .experience-panel {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    .experience-item {
      width: 85%;
      padding-left: 15%;
      text-align: left;
      .experience-title {
        font-size: 3vw;
        padding-top: 10px;
        line-height: 80%;
      }
      .experience-position {
        font-size: 2vw;
        border-bottom: 2px solid black;
      }
      .experience-description {
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 1.5vw;
      }
      .experience-skills {
        font-size: 1vw;
      }
      .experience-duration {
        font-size: 1vw;
      }
    }
  }
}

.projects-section {
  height: 60vh;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  .projects-panel {
    width: 50%;
  }
}

.contact-section {
  height: 60vh;
  width: 60%;
  margin: 0 auto;
  .contact-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .contact-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      label {
        text-align: left;
        width: 100px;
      }
      input {
        margin-left: 10px;
        width: 300px;
      }
      textarea {
        margin-left: 10px;
        width: 300px;
      }
    }
  }
}